#---------------------------------------#
#             Project Ignores           #
#---------------------------------------#

# Ignore everything in current directory
/*

# But not these files...
!.gitignore
!LICENSE
!dist/*