<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#5bbad5" />
    <meta name="msapplication-config" content="<%- APP_HOST_URL %>/assets/images/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#5bbad5" />
    <meta name="title" content="Car Service" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Car Service" />
    <meta name="application-name" content="Car Service" />
    <meta name="description" content="Easy and convenient way to register cars and their repairs." />
    <meta property="og:title" content="Car Service" />
    <meta property="og:description" content="Easy and convenient way to register cars and their repairs." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%- APP_HOST_URL %>/assets/images/background.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:title" content="Car Service">
    <meta name="twitter:description" content="Easy and convenient way to register cars and their repairs.">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="<%- APP_HOST_URL %>/assets/images/background.jpg">
    <meta itemprop="name" content="Car Service">
    <meta itemprop="description" content="Easy and convenient way to register cars and their repairs.">
    <meta itemprop="image" content="<%- APP_HOST_URL %>/assets/images/background.jpg" />
    <title>Car Service</title>
    <link rel="preload stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" as="style"/>
    <link rel="stylesheet" href="/assets/styles/style.css" />
    <script type="module" src="/src/app.js" defer></script>
  </head>

  <body>
    <header id="site-header">
      <nav role="navigation">
        <ul role="menubar" class="user-navigation" hidden>
          <li role="menuitem"><a href="<%- APP_HOST_URL %>/cars/create">Добави автомобил</a></li>
          <li role="menuitem"><a href="<%- APP_HOST_URL %>/cars">Всички автомобили</a></li>
        </ul>
        <ul role="menubar" class="user-navigation" hidden>
          <li role="menuitem"><a href="#" id="logout-button">Изход</a></li>
        </ul>
        <ul role="menubar" class="guest-navigation" hidden>
          <li role="menuitem"><a href="<%- APP_HOST_URL %>/user/login">Вход</a></li>
          <li role="menuitem"><a href="<%- APP_HOST_URL %>/user/register">Регистрация</a></li>
        </ul>
      </nav>
    </header>

    <main id="site-content"></main>

    <footer id="site-footer">
      <p>Car Service&copy; All rights reserved.</p>
    </footer>
  </body>
</html>
