:root {
  --surface: #f0f0f0;

  --button-highlight: #ffffff;

  --button-face: #f2f2f2;
  --button-face-hover: #eaf6fd;
  --button-face-active: #c4e5f6;
  --button-face-disabled: #f4f4f4;

  --button-shade-light: #ebebeb;
  --button-shade-light-hovered: #bee6fd;
  --button-shade-light-active: #98d1ef;
  --button-shade-dark: #cfcfcf;

  --border-width: 1px;
  --border-radius: 3px;
  --button-shadow: inset 0 0 0 1px #ffffffcc, inset 0 1px 1px #ffffff;
  --button-outline: var(--focus-outline);
  --button-outline-offset: var(--focus-outline-offset);

  --button-border: var(--border-width) solid;
  --button-border-color: #8e8f8f;
  --button-border-color-hovered: #3c7fb1;
  --button-border-color-active: #6d91ab;
  --button-border-color-disabled: #aeb2b5;

  --button-text-color: #222222;
  --button-text-color-disabled: #838383;

  --button-gradient: linear-gradient(to bottom, #f2f2f2 45%, #ebebeb 45%, #cfcfcf);
  --button-gradient-hovered: linear-gradient(to bottom, #eaf6fd 45%, #bee6fd 45%, #a7d9f5);
  --button-gradient-active: linear-gradient(to bottom, #e5f4fc, #c4e5f6 30% 50%, #98d1ef 50%, #68b3db);

  --menu-background: linear-gradient(#ffffff 20%, #f1f4fa 25%, #f1f4fa 43%, #d4dbee 48%, #e6eaf6);
  --menubar-background: transparent;
  --menuitem-background-hover: var(--color-accent);
  --menuitem-text-color: var(--color-accent);
  --menuitem-text-color-hover: var(--color-primary);
}