button,
[role="button"] {
  width: min(100%, 15vmax);
  min-width: max-content;
  padding-block: 0.2vh;
  padding-inline: 1.5vw;
  color: var(--button-text-color);
  background: var(--button-gradient);
  border: var(--button-border);
  border-color: var(--button-border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: normal;
  text-wrap: nowrap;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

button:disabled,
[role="button"]:disabled {
  color: var(--button-text-color-disabled);
  background: var(--button-face-disabled);
  border-color: var(--button-border-color-disabled);
}

button:focus-visible,
[role="button"]:focus-visible {
  outline: var(--button-outline);
  outline-offset: var(--button-outline-offset);
}

button:not(:disabled):hover,
[role="button"]:not(:disabled):hover,
button:not(:disabled):focus-visible,
[role="button"]:not(:disabled):focus-visible {
  background: var(--button-gradient-hovered);
  border-color: var(--button-border-color-hovered);
}

button:not(:disabled):active,
[role="button"]:not(:disabled):active {
  background: var(--button-gradient-active);
  border-color: var(--button-border-color-active);
}

button[button-type],
[role="button"][button-type] {
  animation: button-animation 3s ease-in-out infinite;
}

button[button-type="info"],
[role="button"][button-type="info"] {
  --button-gradient: linear-gradient(to bottom, #ebf3fa 45%, #dceffd 45%, #c8def8);
  --button-gradient-hovered: linear-gradient(to bottom, #d8eaf9 45%, #aad4fc 45%, #7fc6f7);
  --button-gradient-active: linear-gradient(to bottom, #cceffd, #a1def7 30% 50%, #68c3f3 50%, #4cb6ef);
  --button-border-color-hovered: #3a83cc;
  --button-border-color-active: #266baf;
  --_button-type-shadow-color: #7fc6f7;
}

button[button-type="success"],
[role="button"][button-type="success"] {
  --button-gradient: linear-gradient(to bottom, #e5f9e5 45%, #d4f5d8 45%, #b9ecbf);
  --button-gradient-hovered: linear-gradient(to bottom, #d2f8d8 45%, #aaf0c2 45%, #82e8aa);
  --button-gradient-active: linear-gradient(to bottom, #c1f9d1, #93e8b8 30% 50%, #66d495 50%, #3fb681);
  --button-border-color-hovered: #55a63a;
  --button-border-color-active: #3d802b;
  --_button-type-shadow-color: #82e8aa;
}

button[button-type="warning"],
[role="button"][button-type="warning"] {
  --button-gradient: linear-gradient(to bottom, #fdf0cb 45%, #fde3aa 45%, #f7db94);
  --button-gradient-hovered: linear-gradient(to bottom, #f9ecd9 45%, #f8d8ab 45%, #f7c57e);
  --button-gradient-active: linear-gradient(to bottom, #fdebc0, #fbd09e 30% 50%, #f8bf70 50%, #f5ae36);
  --button-border-color-hovered: #d68b2a;
  --button-border-color-active: #b06d1f;
  --_button-type-shadow-color: #f7c57e;
}

button[button-type="danger"],
[role="button"][button-type="danger"] {
  --button-gradient: linear-gradient(to bottom, #fde4e2 45%, #fdd8cb 45%, #fdc0b6);
  --button-gradient-hovered: linear-gradient(to bottom, #fddedf 45%, #fabdbb 45%, #f78c97);
  --button-gradient-active: linear-gradient(to bottom, #fde3e1, #fbb1ad 30% 50%, #f87984 50%, #f54750);
  --button-border-color-hovered: #b84641;
  --button-border-color-active: #9e382f;
  --_button-type-shadow-color: #f78c97;
}


@keyframes button-animation {
  50% {
    box-shadow: inset 0px 0px 10px 4px var(--_button-type-shadow-color);
  }
}