select:not([multiple]) {
  position: relative;
  padding-block: 0.5vh;
  padding-inline-start: 0.5vw;
  padding-inline-end: 16px;
  color: var(--button-text-color);
  background: url("/assets/images/button-down.svg"), var(--button-gradient);
  background-position: center right;
  background-repeat: no-repeat;
  border: var(--button-border);
  border-color: var(--button-border-color);
  border-radius: var(--border-radius);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

select:not([multiple]):focus-visible {
  outline: var(--button-outline);
  outline-offset: var(--button-outline-offset);
}

select:not([multiple]):not(:disabled):hover,
select:not([multiple]):focus-visible {
  background-image: url("/assets/images/button-down.svg"), var(--button-gradient-hovered);
  border-color: var(--button-border-color-hovered);
}

select:not([multiple]):not(:disabled):active {
  background-image: url("/assets/images/button-down.svg"), var(--button-gradient-active);
  border-color: var(--button-border-color-active);
  box-shadow: var(--button-shadow-active);
  outline: none;
}

select:disabled {
  background-image: url("/assets/images/button-down.svg");
  background-color: var(--button-face-disabled);
  border-color: var(--button-border-color-disabled);
  color: var(--button-text-color-disabled);
}