[role="navigation"] {
  display: flex;
  justify-content: space-between;
  background: var(--menu-background);
  font-size: inherit;
  font-family: inherit;
}

[role="navigation"]> :not([hidden]):last-child {
  margin-inline-start: auto;
  margin-inline-end: 0;
}

[role="menubar"] {
  display: flex;
  list-style: none;
  background: var(--menubar-background);
}

[role="menubar"]>[role="menuitem"] {
  cursor: pointer;
}

[role="menubar"]>[role="menuitem"]>* {
  display: block;
  width: 100%;
  height: 100%;
  padding-block: 1vh;
  padding-inline: 1vw;
  color: var(--menuitem-text-color);
  text-align: center;
  text-decoration: none;
  outline: none;
}

[role="menubar"]>[role="menuitem"]>*:hover,
[role="menubar"]>[role="menuitem"]>*:focus-visible {
  background: var(--menuitem-background-hover);
  color: var(--menuitem-text-color-hover);
}

[role="menuitem"]:disabled {
  opacity: 0.5;
  pointer-events: none;
}