:root {
  --border-radius: 2px;
}

input[type="search"] {
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--button-highlight);
  box-shadow: inset 1px 1px 0 var(--button-border-color), inset -1px -1px 0 var(--button-shade-dark);
  font-size: inherit;
  font-family: inherit;
  caret-color: var(--color-accent);
  cursor: text;
}

input[type="search"]:placeholder-shown {
  background-size: 1rem;
  background-position: calc(100% - 0.8rem) calc(100% - 0.3rem);
  background-image: url("/assets/images/search.svg");
  background-repeat: no-repeat;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
}

input[type="search"]:focus-visible {
  outline: var(--button-outline);
  outline-offset: var(--button-outline-offset);
}

input[type="search"]::placeholder {
  font-style: italic;
}

input[type="search"]:disabled {
  background-color: var(--button-face-disabled);
  color: var(--button-text-color-disabled);
}

input[type="search"]:disabled:placeholder-shown {
  filter: grayscale(1);
}

input[type="search"]:disabled::placeholder {
  opacity: 0;
}