form {
  max-width: 100vmin;
  margin-inline: auto;
}

form fieldset {
  padding-inline: max(1vmax, 5px);
  padding-block-start: max(1vmax, 5px);
  padding-block-end: 1vmax;
  background-color: var(--color-primary);
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
}

form>fieldset {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  cursor: default;
}

form fieldset legend {
  width: 100%;
  padding-inline-start: min(5vmax, 10px);
  text-align: left;
  color: var(--color-primary);
  background-color: var(--color-accent);
  border: var(--default-border);
  border-radius: var(--default-border-radius);
}

form>fieldset>legend {
  font-size: 1.35em;
}

form .input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.4vmax;
}

form .input-fields .field {
  display: flex;
  flex-direction: column;
  text-align: left;
  word-break: break-all;
  text-wrap: balance;
}

form .input-fields input,
form .input-fields textarea {
  width: 100%;
  padding-block: max(0.5vmax, 5px);
  padding-inline: max(0.5vmax, 5px);
  caret-color: var(--color-accent);
}

form .input-fields textarea {
  min-height: 8vmax;
  max-height: 20vmin;
  transition: height 0.2s ease-out;
  backdrop-filter: brightness(0.9);
  resize: none;
  cursor: text;
  overflow: auto;
  pointer-events: auto;
}

form .input-fields textarea:disabled {
  user-select: none;
  cursor: default;
}

form .input-fields textarea::selection {
  background-color: transparent;
}

form .input-fields input:focus-visible,
form .input-fields textarea:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

form .input-fields label {
  width: 100%;
  padding-inline-start: max(0.4vmax, 2px);
  font-weight: bold;
}

form .input-fields label .required {
  color: var(--form-required-input);
}

form .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: min(0.8vmax, 5px);
}