:root {
  --color-accent: #234465;
  --color-primary: #ffffff;
  --background-color-primary: #ffffff;
  --background-color-secondary: #eeeeee;

  --default-border: 1px solid #666666;
  --default-border-radius: 3px;
  --default-box-shadow: 0 0 10px 0 #36444b4d;

  --focus-outline: thin dotted black;
  --focus-outline-offset: -3px;

  --form-required-input: #ff0000;

  --table-row-background: #234465;
  --table-cell-border: #dddddd;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  font-size: calc(0.8rem + 0.2vmin);
  font-family: system-ui, sans-serif;
  background-image: url("/assets/images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main {
  align-self: center;
  justify-self: center;
  width: min(90vw, 100% - 3rem);
  margin: 5vmin;
}

header {
  font-size: 1.2em;
}

footer {
  padding-block: 0.5vmin;
  background: var(--color-accent);
  font-size: 1.2em;
  cursor: default;
}

footer>p {
  color: var(--color-primary);
  text-align: center;
  font-weight: bold;
}

i {
  text-align: center;
  vertical-align: middle;
}

[disabled],
[aria-disabled="true"] {
  pointer-events: none !important;
}

[hidden],
[aria-hidden="true"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}