#notifications {
  float: right;
  position: fixed;
  top: 10vh;
  right: 2%;
  text-align: center;
  margin: 1em;
}

.notification {
  font-size: 24px;
  color: #ffffff;
  display: none;
  text-align: right;
}

.notification > span {
  display: inline-block;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 1rem;
}

#loadingBox > span {
  background: cadetblue;
}
#infoBox > span {
  background: mediumseagreen;
}
#errorBox > span {
  background: lightsalmon;
}
