#auth-page form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#auth-page form>fieldset {
  min-width: 25vw;
}

#auth-page form legend {
  padding: 0;
  text-align: center;
}

#auth-page form input::placeholder {
  opacity: 0.5;
}

#auth-page form .password-field {
  position: relative;
}

#auth-page form .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--color-accent);
  user-select: none;
  cursor: pointer;
}

#auth-page form .buttons {
  margin-block-start: 4vh;
  margin-block-end: 1vh;
}

#auth-page form .form-link {
  text-align: center;
  cursor: default;
}

#auth-page form .form-link a {
  padding-block: 0.1vh;
  padding-inline: 0.5vw;
  color: var(--color-accent);
  text-decoration: none;
  border-radius: 3px;
}

#auth-page form .form-link a:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

#catalog-page form {
  max-width: 80vw;
}

#catalog-page form .empty {
  font-size: min(6vw, 2.5em);
  text-align: center;
}

#catalog-page form .search {
  display: flex;
  gap: 1vw;
  padding-block: max(1vh, 5px);
}

#catalog-page form .search>* {
  flex: 1;
}

#catalog-page form .search input {
  flex-basis: 50%;
  padding-inline-start: min(1vw, 10px);
}

#catalog-page form table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-weight: bold;
  word-break: break-all;
  text-wrap: balance;
  box-shadow: var(--default-box-shadow);
}

#catalog-page form table thead {
  text-align: center;
  background-color: var(--table-row-background);
  color: var(--color-primary);
}

#catalog-page form table tbody {
  text-align: left;
  color: var(--color-accent);
  background-color: var(--background-color-primary);
}

#catalog-page form table th,
#catalog-page form table td {
  padding: 0.5vh;
  border-right: 1px solid var(--table-cell-border);
  border-bottom: 1px solid var(--table-cell-border);
}

#catalog-page form table tbody tr:nth-of-type(even) {
  background-color: var(--background-color-secondary);
}

#catalog-page form table tbody tr:last-child {
  border-bottom: 3px solid var(--color-accent);
}

#catalog-page form .pagination {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-block: 0.5vmax;
  padding-inline: 0;
  text-align: center;
}

#catalog-page form .pagination a {
  position: relative;
  padding-inline: 1vmax;
  margin-inline: 0.5vmax;
  color: var(--color-accent);
  text-decoration: none;
  border-radius: var(--default-border-radius);
  font-size: 1.4em;
}

#catalog-page form .pagination a:first-child {
  margin-inline-end: auto;
}

#catalog-page form .pagination a:last-child {
  margin-inline-start: auto;
}

#catalog-page form .pagination a>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#catalog-page form .pagination a:hover,
#catalog-page form .pagination a:active,
#catalog-page form .pagination a.active {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

@media (max-width: 600px) {
  #catalog-page form>fieldset {
    width: 100%;
  }

  #catalog-page form .search {
    flex-direction: column;
  }

  #catalog-page form .search input {
    min-height: 4vh;
  }

  #catalog-page form .search button {
    width: 100%;
  }

  #catalog-page form table tbody {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    background-color: var(--background-color-secondary);
  }

  #catalog-page form table th {
    display: none;
  }

  #catalog-page form table td {
    display: grid;
    grid-template-columns: 30vw auto;
    align-items: center;
    gap: max(0.8vw, 4px);
    padding: 0;
    padding-inline-end: max(0.8vw, 4px);
    background-color: var(--background-color-primary);
  }

  #catalog-page form table td::before {
    content: attr(data-cell-content) ": ";
    height: 100%;
    padding-block: max(0.5vh, 5px);
    padding-inline: max(1vw, 3px);
    background-color: var(--table-row-background);
    color: var(--color-primary);
  }

  #catalog-page form table td .buttons>* {
    width: 100%;
    margin-block: max(0.5vh, 5px);
  }

  #catalog-page form table td:nth-of-type(even) {
    background-color: var(--background-color-secondary);
  }

  #catalog-page form table tbody tr:not(:first-child) td:first-child {
    border-top: 1px solid var(--table-cell-border);
  }

  #catalog-page form table tbody tr:last-child td:last-child {
    border-bottom: 0;
  }

  #catalog-page form .pagination a {
    padding-inline: 2vw;
    margin-inline: 2vw;
  }
}