.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid #234465;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
