form,
form fieldset,
form legend,
form label,
form input,
form div {
  padding: 0;
  margin: 0;
  width: 100%;
}

form {
  width: 90vw;
  padding: 0 3rem 0 3rem;
  margin: 7vh auto;
  text-align: left;
}

form fieldset {
  padding: 1rem;
  background-color: #fff;
  border: 0.1rem solid #666;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

form legend {
  border: 0.15rem solid #666;
  background-color: #234465;
  color: white;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  margin-bottom: 0.7rem;
}

form label {
  padding-left: 0.5rem;
  font-weight: bold;
}

form input {
  margin: 0.1rem 0 0.4rem 0;
  padding: 0.3rem;
}

form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 15rem;
  cursor: text;
  background-color: #eee;
  overflow: auto;
  resize: none;
}

form div {
  margin: 0.5rem 0 0.4rem 0;
  text-align: center;
}

form a {
  text-decoration: none;
}

form .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .button input,
form .button a {
  margin: 0 5rem;
}

form input.error,
form textarea.error {
  border: 0.1rem solid lightpink;
  background-color: rgba(249, 211, 211, 0.4);
}

form ::placeholder {
  opacity: 0.3;
}
