.overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(100px);
}

.modal {
  margin: auto;
  margin-top: 15vh;
  padding: 32px;
  width: 500px;
  /* box-shadow: 0px 0px 30px 0px; */
  box-shadow: 0 0 20px #ffffffcc;
  background-color: #eee;
  border-radius: 0.3rem;
  font-weight: bold;
  animation-name: animate;
  animation-duration: 0.4s;
}

.modal p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}

.modal .actions {
  display: flex;
  justify-content: space-evenly;
}

.modal .actions div {
  align-items: center;
  font-size: 1.2rem;
}

.modal .actions div a {
  text-align: center;
  text-decoration: none;
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
