header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 2rem;
  background: #fafcfd;
  background-color: white;
  background: linear-gradient(
    to bottom,
    #fafcfd 0%,
    #fdfeff 3%,
    #f5faff 10%,
    #e6f0fa 47%,
    #dce6f4 50%,
    #dce7f6 87%,
    #dde9f7 90%,
    #e4effb 93%,
    #cddaea 97%,
    #a0afc3 100%
  );
  background-color: white;
  border-radius: 0;
  border: 0;
  border-bottom: 0.1rem solid #a0afc3;
  border-top: 0.1rem solid #a0afc3;
}

.navbar div {
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.navbar div a {
  padding: 0.1rem 1rem 0.1rem 1rem;
  border: 0.1rem solid transparent;
  color: #333;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus {
  background: #fdfeff;
  background: linear-gradient(
    to bottom,
    #fdfeff 0%,
    #f8fbfe 5%,
    #f7fafd 24%,
    #edf2fa 48%,
    #d7e4f4 52%,
    #c1d2e8 95%,
    #eff4f9 100%
  );
  border: 0.1rem solid #bbcadb;
  border-radius: 0.2rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: #234465;
}

footer p {
  padding: 0.5rem;
  margin: 0;
  font-weight: bold;
  color: white;
}
